

{{#if display}}
	{{ember-chart type=type data=data width=500 height=300}}
	<!--<button{{action 'addData'}}>Add Compare Data</button>-->
{{else}}
	{{ember-chart type=type data=data width=500 height=300}}
{{/if}}



