<div>
	{{input type="text" placeholder="Message" value=body}}
	<button {{action 'addMsg'}}>Submit</button>
</div>

{{#each message in model}}
	<div>
		{{message.handle}} said: {{message.body}}
	</div>
{{/each}}
