 <div class="container">
  {{#if session.isAuthenticated}}
	<button {{action "logout"}}>Logout</button><br>
	{{outlet}}
  {{else}}
    {{#link-to 'messages'}}<button {{action "signIn" "google"}}>Sign in with google</button>{{/link-to}}
  {{/if}}
</div>
