{{#link-to 'messages'}}All Messages{{/link-to}}

{{#each model as |message|}}
	<div>
		<button{{action 'deleteMsg' message.id}}>Remove</button>
		{{message.handle}} said: {{message.body}}
	</div>
{{/each}}
